$clr-primary-color-dark-blue: hsl(240, 38%, 20%);
$clr-primary-color-grayish-blue: hsl(240, 18%, 77%);

$clr-box-shadow: hsla(0, 0%, 0%, 0.2);
$clr-background: hsl(0, 0%, 100%);
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);